<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mastegoane.android.anysoftkeyboard">

    <application
        android:name="com.anysoftkeyboard.debug.DebugAnyApplication"
        tools:replace="android:name" />
</manifest>
